doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        
        link(type="text/css" rel="stylesheet" href="stylesheet.css")
        link(rel="icon" href="favicon.ico")
        
        title Gallery of leaders
    
    body
        h1 The gallery of world leaders
        #main

        include leaders.pug
        each category in all
            .wrap-collapsible(style="justify-content: center")
                input.toggle(id=category.dir type="checkbox")
                label.lbl-toggle(for=category.dir style="font-weight: bold")= category.title 
                .collapsible-content.scrollable: .content-inner.outer
                    each item in category.items
                        -let filename = `${category.dir}/${item[0]}`;
                        .wrap-collapsible
                            input.toggle(id=filename type="checkbox")
                            label.lbl-toggle(for=filename)= item[2]
                            .collapsible-content.inner: .content-inner.inner
                                h2= item[1]
                                if item[3] != null
                                    p!= item[3]
                                img.leader-image(src=filename)
                        br